body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #8d969e, #dfe7e9);
  background: linear-gradient(to right, #8d969e, #dfe7e9);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}